body{
    border: 7px solid rgb(176, 253, 60);
    background-image: url(./image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
  }
  #heading{
    display: flex;
    margin: 28px 28px;
    justify-content: space-between;
   
  }
  #heading_1{
    border: 7px solid red;
    border-radius: 35px;
    height: 120px;
    width: 350px;
    font-weight: bold;
    font-style: italic;
    font-size: xx-large;
    background-color: black;
    color: white;
    padding-top: 45px;
    text-align: center;
  
  }
    
  #heading_2{
    font-weight: lighter;
    font-style: italic;
    font-size: xx-large;
    border: 7px solid red;
    border-radius: 35px;
    text-align: center;
    position: relative;
    top: 10px;
    height: 50px;
    width: 490px;
    margin:10px;
    padding: 20px;
    background-color: black;
    color: white;
   
  }
  #heading_3{
    font-weight: bold;
    font-style: italic;
    font-size: x-large;
    position: relative;
    top: 5px;
    height: 150px;
    width: 400px;
    border: 7px solid red;
    border-radius: 35px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
}
 #circle{
  display: flex;
  justify-content: space-evenly;
}
 #offer{
  height: 430px;
  width: 430px;
  border: 7px solid grey;
  border-radius: 50%;
  background-color: rgb(70, 160, 160);
  margin-top: 200px;
}
.one{
  color: black;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: bold;
  font-size: x-large;
  font-style: italic;
  margin-top: 100px;
  margin-left: 110px;
}

.two{
  color: black;
  text-decoration: underline;
  text-transform: uppercase;
  font-size: x-large;
  font-weight: bold;
  font-style: italic;
  margin-left: 30px;
  margin-top: 30px;
}

.three{
  color: black;
  text-decoration: underline;
  text-transform: uppercase;
  font-size: x-large;
  font-weight: bold;
  font-style: italic;
  margin-left: 100px;
  margin-top: 40px;
}
#form_box{

  height: 770px;
  width: 500px;
  border: 7px dashed red;
  display: flex;
  justify-content: center;
}

#form_heading{
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: red;
  width: 500px;
}
.form_details{
  display: flex;
  justify-content: center;
  font-size: larger;
  font-weight: 600;
  color: red;
}
  
.details {
  display: flex;
  margin-left: 160px;
  align-items: center;
}
.date{
  display: flex;
  margin-left: 170px;
  width: 160px;
  align-items: center;
}

.check {
  margin-left: 240px;
}

#click {
  margin-left: 208px;
}

#reset {
  margin-left: 227px;
}
  
#menu{
    font-weight: bold;
    font-size: xx-large;
    font-style: italic;
    text-transform: uppercase;
    height: 100px;
    width: 500px;
    border: 7px solid red;
    border-radius: 35px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 490px;
    margin-top: 30px;
  }
  
  .menu1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
    color: darkblue;
  }
  
  .box1{
    border: 3px solid darkgreen;
    border-radius: 35px;
    background-color: aqua;
    width: 25%;
  }
  
  .food{
    font-size: xx-large;
    font-weight: bold;
    margin-left: 100px;
  }
  
  li {
    margin-left: 100px;
    font-size: larger;
  }
  
  .menu2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
    color: darkblue;
  }
  
  .box2{
    border: 3px solid darkgreen;
    border-radius: 35px;
    background-color: aqua;
    width: 25%;
  }
